* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 20px;
  color-scheme: dark light;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header,
main {
  padding: 1rem 4rem;
}
h2 {
  color: cornflowerblue;
}
h3 {
  border-bottom: 2px solid white;
}
::part(topper) {
  /* color: chartreuse; */
  font-size: 6rem;
}
::part(topper) span {
  /* does not work */
}
